{{> adminNavbar}}
<div class="maxWidth mx-auto mt-32">
    <div class="adminBlog">
        <h1 class="admin-title">Add new blog:</h1>
        <input class="blogTitle" type="text" placeholder="Blog title">
        <input class="blogDesc" type="text" placeholder="Blog decription">
        <input class="blogImg" type="file">
    </div>
</div>
{{>footer}}