{{>navbar}}
<div class="maxWidth mx-auto mt-32">
    <div class="loginBox flex flex-col p-4 justify-around">
        <p class="mx-auto text-4xl text-center">Login to admin panel</p>
        <div class="borderBottom my-5">
        </div>
        <div class="flex justify-evenly">
            <div class="modal-items mt-10">
                <div class="max-w-96 py-10">
                    <p class="bg-red-200 text-red-400 p-2">Note : If the data is not delivered correctly, the site
                        is limited to the site!</p>
                    {{!-- <form action="/adminIndex" method="post"> --}}
                        <input type="text" placeholder="First data"
                            class="p-2 w-full rounded-sm  outline-none mt-3 inputBg">
                        <input type="text" placeholder="Second data"
                            class="p-2 w-full rounded-sm  outline-none mt-3 inputBg">
                        <a href="/admin-dashboard"><button
                                class="w-full btnColor p-2  rounded-sm drop-shadow-lg mt-5">Login</button></a>
                        {{!--
                    </form> --}}
                </div>

            </div>
            <div>
                <img src="/icon/admin.svg" alt="img hrgieuowh" width="500" class="adminImg">
            </div>
        </div>

    </div>
</div>