<div class=" headerNav">
    <div class="maxWidth">
        <div class="flex justify-between items-center ">
            <div class="flex items-center">
                <a href="/"> <img src="/icon/logo.png" alt="logo" class="w-14 flex"></a>
            </div>

            <div class="flex items-center">
                <a>
                    <div class="m-2 text-xl p-1 moon">
                        <img src="/icon/sun.png" id="icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<a class="cursor-hover-element"></a>
<div id="circle-cursor"></div>