{{!-- <div class="maxWidth px-32 py-5"> --}}
    <div class="flex flex-col items-center pt-7 aminFooter">
        <p class="text-base mb-2"> © 2024 ortiqovdev.uz</p>
        <a href="https://github.com/ortiqovdev" class="text-xs links" target="_blank"> Powered by: ortiqovdev <i class="bi bi-github"></i></a>
    </div>
</div>