{{>navbar}}
<div class="maxWidth indexStyle1">
    <div class="indexStyle2">
        <div class="text-div items-start indexStyle3">
            <div class="text anim">Hi there. I'm <a><span></span></a> </div>

            <p class="w-10/12 anim indexTitle">Welcome to my portfolio web site . I'm Ortiqov Akmal and 20 year old.
                Detailed information is in the file below!</p>

            <div class="flex my-4 anim indexBtns">
                <a href="/upload/myCV.pdf" download="Akmal Ortiqov Rezume" class="cvBtn mr-4">Download CV</a>
                <a id="myBtn" class="readBtn">Contact us</a>

            </div>

            <div class="mt-5 anim indexLinks">
                <a href="https://t.me/ortiqov_blog" target="_blank"><i class="bi bi-telegram indexIcon"></i></a>
                <a href="https://github.com/ortiqovdev" target="_blank"><i class="bi bi-github indexIcon"></i></a>
                <a href="https://twitter.com/Mr_ortiqov" target="_blank"><i class="bi bi-twitter-x indexIcon"></i></a>
                <a href="https://www.linkedin.com/in/akmal-ortiqov-9a7801239/" target="_blank"><i
                        class="bi bi-linkedin indexIcon"></i></a>
                <a href="https://www.threads.net/@mr__ortiqov" target="_blank"><i
                        class="bi bi-threads indexIcon"></i></a>
                <a href="https://www.instagram.com/mr__ortiqov/" target="_blank"><i
                        class="bi bi-instagram indexIcon"></i></a>
            </div>
        </div>

        <div class="wrapper animImg">
            <a>
                <div class="box"></div>
            </a>
        </div>
    </div>
</div>

{{> footer}}
{{>mediaNav}}