{{>navbar}}
<div class="maxWidth mx-auto  px-32 py-5">
    <div class="flex items-center justify-between">
        <div class="text-div flex flex-col items-start">
            <div class="text">Hi there. I'm <span></span></div>

            <p class="w-10/12">Welcome to my portfolio web site . I'm Ortiqov Akmal and 20 year old. Detailed information is in the file below!</p>

            <div class="flex my-3">
                <a href="/" class="p-2 border-2 border-gray-700 rounded-md text-base linksBtn">Login</a>
                <a href="/" class="p-2 border-2 border-gray-700 rounded-md text-base linksBtn">Login</a>
            </div>

            <div>
                <a href="https://t.me/ortiqov_blog" target="_blank"><i class="bi bi-telegram"></i></a>
                <a href="https://github.com/ortiqovdev"target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://twitter.com/Mr_ortiqov"target="_blank"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.linkedin.com/in/akmal-ortiqov-9a7801239/"target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.threads.net/@mr__ortiqov"target="_blank"><i class="bi bi-threads"></i></a>
                <a href="https://www.instagram.com/mr__ortiqov/"target="_blank"><i class="bi bi-instagram"></i></a>
            </div>
        </div>


        <div class="wrapper m-9">
            <a href="/">
                <div class="box"></div>
            </a>
        </div>
    </div>
</div>

{{> footer}}