<div class="navMedia">
    <div class="navIconsMedia">
        <a href="/projects" class="links {{#if onProject}} text-[#0ba4e0] text-5xl{{/if}}"><i
                class="bi bi-braces-asterisk"></i></a>
        <a href="/employment" class="links {{#if onEmp}} text-[#0ba4e0] text-5xl{{/if}}"><i class="bi bi-briefcase"></i></i></a>
        <a href="/edu" class="links {{#if onEdu}} text-[#0ba4e0] text-5xl {{/if}}"><i class="bi bi-mortarboard"></i></a>
        <a href="/skills" class="links {{#if onSkills}} text-[#0ba4e0] text-5xl{{/if}}"><i class="bi bi-award"></i></a>
        <a href="/blogs" class="links {{#if onBlogs}} text-[#0ba4e0] text-5xl{{/if}}"><i class="bi bi-chat-right-quote"></i></a>
    </div>
</div>