<div id="myModal" class="modal">

    <div class="modal-content">
      <a> <span class="close">&times;</span></a> 
        <p class="font-semibold text-2xl my-2 textColor">Contact us</p>

        <div class="borderBottom my-5">
        </div>
        <div class="modal-items">
            <div class="max-w-96 py-10">
                <p class="text-2xl font-bold"> Email address <span class="textColor font-bold">*</span></p>
                <input type="email" placeholder="example@gmail.com"
                    class="p-2 w-full rounded-sm  outline-none mt-3 inputBg">
                <p class="text-sm">No <b class="textColor">spam</b> is sent to your email!</p>

                <p class="text-2xl mt-2 font-bold"> Message... <span class="textColor font-bold">*</span></p>
                <textarea cols="40" rows="5"
                    class="p-2 w-full rounded-sm homeColor outline-none mt-3 resize-none inputBg"
                    placeholder="Dear Akmal , ..."></textarea>
                <p class="text-sm text-slate-400">Type your question or appeal.</p>

                <a href="#"><button class="w-full btnColor p-2  rounded-sm drop-shadow-lg mt-5">Sending</button></a>

            </div>
            <div class="w-96">
                <div class="flex items-center mb-4 mt-8">
                    <i class="bi bi-envelope text-5xl items-center justify-center mr-2"></i>
                    <div>
                        <p class="text-2xl font-bold">My email address:</p>
                        <p class="textColor">akmalbekortiqovv@gamil.com</p>
                    </div>
                </div>
                <div class="flex items-center mb-4">
                    <i class="bi bi-telephone text-5xl items-center justify-center mr-2"></i>
                    <div>
                        <p class="text-2xl font-bold">Phone number:</p>
                        <p class="textColor">+998 88 527 1730</p>
                    </div>
                </div>
                <div class="flex items-center mb-4">
                    <i class="bi bi-person text-5xl items-center justify-center mr-2"></i>
                    <div>
                        <p class="text-2xl font-bold">Telegram username:</p>
                        <p class="textColor">@Akmal_Ortiqov</p>
                    </div>
                </div>
                <div class="flex items-center mb-4">
                    <i class="bi bi-geo-alt text-5xl items-center justify-center mr-2"></i>
                    <div>
                        <p class="text-2xl font-bold">Address:</p>
                        <p class="textColor">Khorezm Urgench</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <i class="bi bi-building text-5xl items-center justify-center mr-2"></i>
                    <div>
                        <p class="text-2xl font-bold">Education institution:</p>
                        <p class="textColor">Urgench state university</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>