<div class="animNav fixed w-full headerNav py-5 z-50">
    <div class="maxWidth mx-auto px-32  ">
        <div class="flex justify-between items-center ">
            <div class="flex items-center">
                <a href="/"> <img src="/icon/logo.png" alt="logo" class="w-14 flex"></a>

            </div>
            <div class="flex">
                <div class="flex text-base items-center mx-8">
                    <a href="/projects" class="links ">Projects</a>
                    <a href="/blogs" class="links">Blogs</a>
                    <a id="myBtn" class="links">Contact</a>
                </div>
                <a href="/login" class=" cvBtn">Login</a>
            </div>
        </div>
    </div>
</div>

<a class="cursor-hover-element"></a>
<div id="circle-cursor"></div>