{{> navbar}}
<div class="maxWidth mx-auto px-32 py-5 pt-32">
    <div class="mx-auto flex flex-col items-center">

        <p class="textProject mx-auto anim">
            HTML & CSS & JS
        </p>


        <div class="grid grid-cols-3 items-center w-full aminFooter">
            <div class="projectItems">
                <img src="/img/binary.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://binary-calc-uz.netlify.app/" target="_blank" class="projectTitle">Binary calulator
                    -></a>
                <p class="my-2">This binary calculator converts any number of numbers into binary. And you can use it
                    absolutely free. Try it and improve your knowledge!</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/chellenge/tree/binary-calc" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>

            <div class="projectItems">
                <img src="/img/qrGenerator.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://qr-generator-dev.netlify.app/" target="_blank" class="projectTitle">QR generator -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/chellenge/tree/qr-generator" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems">
                <img src="/img/imgGenerator.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://i-gramm.netlify.app/" target="_blank" class="projectTitle">i-gram (Img generator)
                    -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/i-garm" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems">
                <img src="/img/uzbCard.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://uzb-cards.netlify.app/" target="_blank" class="projectTitle">Uzbek card design -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/cards-js" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems">
                <img src="/img/passGenerator.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://password-g-js.netlify.app/" target="_blank" class="projectTitle">Password generator
                    -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/Password-generator-JS" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems">
                <img src="/img/register.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://fizika-register.netlify.app/" target="_blank" class="projectTitle">Register animation
                    design -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/Js-register" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems">
                <img src="/img/quizApp.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://password-g-js.netlify.app/" target="_blank" class="projectTitle">Physics Quiz App
                    -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/quiz-app-js" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems">
                <img src="/img/conApp.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://github.com/ortiqovdev/chellenge/tree/con-net" target="_blank"
                    class="projectTitle">Internet connect -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="text-white">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/chellenge/tree/con-net" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>

        </div>


        <p class="textProject mx-auto">
            Backend (Node.js) & REST API
        </p>
        <p class="textProject mx-auto">
            Frontend (React.js)
        </p>
        <p class="textProject mx-auto">
            Others
        </p>

    </div>
</div>
{{> footer}}