<div class="ring">
    <div class="loader1"></div>
    <div class="loader"></div>
</div>
{{> navbar}}
<div class="maxWidth skills">
    <p class="textProjectSkills font-bold  anim">
        MY ALL BLOGS
    </p>
    <div class="flex items-center mb-20 anim">
        <div class="lineY-blogs">
        </div>
        <p class="text-base ml-2    ">about my life and interests</p>
    </div>


    <div class="blogAllItems">
        <div class="blogItems hiddenBottom ">
            <img src="/img/node-blog.png" alt="project" class=" mx-auto blogImg">
            <h1 class="projectTitle font-bold">What is node.js?</h1>
            <p class="my-2  overflow-auto border-2 p-3 border-[#898989] hover:border-[#0ba4e0]">
                This sounds like a cool, straightforward answer. But for a beginner, this definition might raise further
                questions. So let's break it down and understand what it means. <br>
                Node.js is open-source: This means that the source code for Node.js is publicly available. And it's
                maintained by contributors from all over the world. The Node.js contribution guide shows you how to
                contribute. <br>
                Node.js is cross-platform: Node.js is not dependent on any operating system software. It can work on
                Linux, macOS, or Windows. <br>
                Node.js is a JavaScript runtime environment: When you write JavaScript code in your text editor, that
                code cannot perform any task unless you execute (or run) it. And to run your code, you need a runtime
                environment. <br>
                Browsers like Chrome and Firefox have runtime environments. That is why they can run JavaScript code.
                Before Node.js was created, JavaScript could only run in a browser. And it was used to build only
                front-end applications. <br>
                Node.js provides a runtime environment outside of the browser. It's also built on the Chrome V8
                JavaScript engine. This makes it possible to build back-end applications using the same JavaScript
                programming language you may be familiar with.

            </p>

            <div class="blogFooter">
                <div class="blogFooterItem">
                    <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                    <p class="blogTextName">Akmal Ortiqov</p>
                    <p class="blogTextName text-3xl mx-1">•</p>
                    <p class="text-[#0ba4e0]">Coding</p>
                </div>
                <div class="blogTitle">
                    <div class="flex mr-4">
                        <i class="bi bi-eye"></i>
                        <p class="ml-1">100</p>
                    </div>
                    <div class="flex">
                        <i class="bi bi-clock"></i>
                        <p class="ml-1">16.05.2024</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{>footer}}
{{>mediaNav}}