{{> navbar}}
<div class="maxWidth mx-auto px-32 py-5 pt-32 overflow-hidden">
    <p class="textProjectSkills font-bold  anim">
        MY ALL BLOGS
    </p>
    <div class="flex items-center mb-20 anim">
        <div class="lineY-blogs">
        </div>
        <p class="text-base ml-2    ">about my life and interests</p>
    </div>


    <div class="grid grid-cols-2">
        <div class="blogItems hiddenBottom ">
            <img src="/img/binary.jpg" alt="project" class=" mx-auto blogImg">
            <h1 class="projectTitle">This is fist blog</h1>
            <p class="my-2  overflow-auto border-2 p-3 border-[#898989] hover:border-[#0ba4e0]">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eaque doloremque distinctio numquam cum
                voluptas quia similique debitis, pariatur accusamus eligendi provident animi sed harum dicta inventore
                veritatis impedit recusandae aliquid! Adipisci consequuntur quas voluptate modi omnis eius ex soluta
                voluptates nesciunt quam illo, itaque suscipit et dolorum, doloremque, optio perspiciatis nobis qui.
                Obcaecati in nisi facere dolore cumque nihil ipsa nobis amet praesentium, magni blanditiis similique!
                Fuga rem sit labore ex sapiente, id assumenda excepturi aliquam voluptate. Modi a dolor harum?
                Necessitatibus excepturi nesciunt autem dolorem non! Facilis accusamus tempore porro consectetur quos
                aliquam vel, aliquid ea vero asperiores!

            </p>

            <div class="flex justify-between items-center my-2">
                <div class="flex items-center">
                    <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                    <p class="text-white">Akmal Ortiqov</p>
                    <p class="text-white text-3xl mx-1">•</p>
                    <p class="text-[#0ba4e0]">Coding</p>
                </div>
                <div class="flex text-base">
                    <div class="flex mr-4">
                        <i class="bi bi-eye"></i>
                        <p class="ml-1">1000</p>
                    </div>
                    <div class="flex">
                        <i class="bi bi-clock"></i>
                        <p class="ml-1">16.05.2024</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{>footer}}