{{> navbar}}
<div class="maxWidth project">
    <div class="eduMedia">


        <p class="textProjectSkills font-bold anim">
            EDUCATION
        </p>
        <div class="flex items-center mb-20 anim">
            <div class="lineY-blogs">
            </div>
            <p class="text-base ml-2">educations and my successes</p>
        </div>

        <div class="eduBody">
            <div class="eduItems hiddenBottom">
                <div class="eduHeader">
                    <div class="eduLeft">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <div class="eduLineY">

                    </div>
                </div>
                <div class="eduTitles">
                    <div>
                        <p class="eduText">
                            Student of the school
                        </p>
                        <p class="eduDate">
                            <i class="bi bi-calendar3"></i>
                            September, 2011 - May, 2022
                        </p>
                    </div>
                    <p class="eduTextSec">
                        <i class="bi bi-graph-up-arrow"></i>
                        Eleven years of study in a secondary education school.
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-bank"></i>
                        4th general secondary education school
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-geo-alt"></i>
                        Uzbekistan, Ostona district
                    </p>
                </div>
            </div>
            <div class="eduItems hiddenBottom">
                <div class="eduHeader">
                    <div class="eduLeft">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <div class="eduLineY">

                    </div>
                </div>
                <div class="eduTitles">
                    <div>
                        <p class="eduText">
                            Learn programming
                        </p>
                        <p class="eduDate">
                            <i class="bi bi-calendar3"></i>
                            October, 2022 - June, 2023
                        </p>
                    </div>
                    <p class="eduTextSec">
                        <i class="bi bi-graph-up-arrow"></i>
                        Backend Node.js
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-bank"></i>
                        Data Learning Center
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-geo-alt"></i>
                        Uzbekistan, Urgench city
                    </p>
                </div>
            </div>
            <div class="eduItems hiddenBottom">
                <div class="eduHeader">
                    <div class="eduLeft">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <div class="eduLineY">

                    </div>
                </div>
                <div class="eduTitles">
                    <div>
                        <p class="eduText">
                            Bachelor student
                        </p>
                        <p class="eduDate">
                            <i class="bi bi-calendar3"></i>
                            September, 2022 - June, 2025
                        </p>
                    </div>
                    <p class="eduTextSec">
                        <i class="bi bi-graph-up-arrow"></i>
                        Computer Sciences and Programming Technologies
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-bank"></i>
                        Urgench State University
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-geo-alt"></i>
                        Uzbekistan, Urgench city
                    </p>
                </div>
            </div>
            <div class="eduItems hiddenBottom">
                <div class="eduHeader">
                    <div class="eduLeft">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <div class="eduLineY">

                    </div>
                </div>
                <div class="eduTitles">
                    <div>
                        <p class="eduText">
                            Learn English
                        </p>
                        <p class="eduDate">
                            <i class="bi bi-calendar3"></i>
                            June, 2024 - Now
                        </p>
                    </div>
                    <p class="eduTextSec">
                        <i class="bi bi-graph-up-arrow"></i>
                        General English || B2
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-bank"></i>
                        At Home
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-geo-alt"></i>
                        Uzbekistan, Urgench city
                    </p>
                </div>
            </div>
        </div>
        <p class="textProjectSkills font-bold hiddenBottom">
            ACHIEVEMENTS
        </p>
        <div class="flex items-center mb-20 hiddenBottom">
            <div class="lineY-blogs">
            </div>
            <p class="text-base ml-2    ">The results achieved so far</p>
        </div>
        <div class="mb-20">
            <div class="eduModal">
                <div class="eduModalItem">
                    <a> <img id="myImg1" src="/img/binary.jpg" alt="Salom" style="width:100%;max-width:320px"></a>
                    <p class="eduModalText">Data Ta'lim Stansiyasi</p>
                </div>
                <div class="eduModalItem">
                    <a> <img id="myImg2" src="/img/binary.jpg" alt="Salom" style="width:100%;max-width:320px"></a>
                    <p class="eduModalText">Data Ta'lim Stansiyasi</p>
                </div>
                <div class="eduModalItem">
                    <a> <img id="myImg3" src="/img/udemy.jpg"
                            alt="The Coding Interview Bootcamp: Algorithms + Data Structures"
                            style="width:100%;max-width:320px"></a>
                    <p class="eduModalText">Udemy</p>
                </div>
                <div class="eduModalItem">
                    <a> <img id="myImg4" src="/img/uzbekcoders.jpg" alt="Front-End Development Track"
                            style="width:100%;max-width:320px"></a>
                    <p class="eduModalText">Cursera</p>
                </div>
                <div class="eduModalItem">
                    <a> <img id="myImg5" src="/img/uzbekcoders.jpg" alt="Front-End Development Track"
                            style="width:100%;max-width:320px"></a>
                    <p class="eduModalText">Uzbek Coders</p>
                </div>
                <div id="myModal1" class="modal1">
                    <span class="close">&times;</span>
                    <img class="modal-content1" id="img01">
                    <div id="caption1"></div>
                </div>
            </div>
        </div>


    </div>
</div>

{{>footer}}
{{>mediaNav}}