{{> navbar}}
<div class="maxWidth mx-auto px-32 py-5 pt-32 overflow-hidden">
    <p class="textProjectSkills font-bold anim">
        EDUCATION
    </p>
    <div class="flex items-center mb-20 anim">
        <div class="lineY-blogs">
        </div>
        <p class="text-base ml-2    ">educations and my successes</p>
    </div>


</div>
{{>footer}}
{{>mediaNav}}