{{> navbar}}
<div class="maxWidth mx-auto px-32 py-5 pt-32 overflow-hidden">
    <p class="textProjectSkills font-bold anim">
        EDUCATION
    </p>
    <div class="flex items-center mb-20 anim">
        <div class="lineY-blogs">
        </div>
        <p class="text-base ml-2    ">educations and my successes</p>
    </div>

    <div class="eduBody">
        <div class="eduItems">
            <div class="eduHeader">
                <div class="eduLeft">
                    <i class="bi bi-mortarboard-fill"></i>
                </div>
                <div class="eduLineY">

                </div>
            </div>
            <div class="eduTitles">
                <div>
                    <p class="eduText">
                        Student of the school
                    </p>
                    <p class="eduDate">
                        <i class="bi bi-calendar3"></i>
                        September, 2011 - May, 2022
                    </p>
                </div>
                <p class="eduTextSec">
                    <i class="bi bi-graph-up-arrow"></i>
                    Eleven years of study in a secondary education school.
                </p>
                <p class="eduTextSec">
                    <i class="bi bi-bank"></i>
                    4th general secondary education school
                </p>
                <p class="eduTextSec">
                    <i class="bi bi-geo-alt"></i>
                    Uzbekistan, Ostona district
                </p>
            </div>
        </div>
        <div class="eduItems">
            <div class="eduHeader">
                <div class="eduLeft">
                    <i class="bi bi-mortarboard-fill"></i>
                </div>
                <div class="eduLineY">

                </div>
            </div>
            <div class="eduTitles">
                <div>
                    <p class="eduText">
                        Learn programming
                    </p>
                    <p class="eduDate">
                        <i class="bi bi-calendar3"></i>
                        October, 2022 - June, 2023
                    </p>
                </div>
                <p class="eduTextSec">
                    <i class="bi bi-graph-up-arrow"></i>
                    Backend Node.js
                </p>
                <p class="eduTextSec">
                    <i class="bi bi-bank"></i>
                    Data Learning Center
                </p>
                <p class="eduTextSec">
                    <i class="bi bi-geo-alt"></i>
                    Uzbekistan, Urgench city
                </p>
            </div>
        </div>
        <div class="eduItems">
            <div class="eduHeader">
                <div class="eduLeft">
                    <i class="bi bi-mortarboard-fill"></i>
                </div>
                <div class="eduLineY">

                </div>
            </div>
            <div class="eduTitles">
                <div>
                    <p class="eduText">
                       Bachelor student
                    </p>
                    <p class="eduDate">
                        <i class="bi bi-calendar3"></i>
                        September, 2022 - June, 2025
                    </p>
                </div>
                <p class="eduTextSec">
                    <i class="bi bi-graph-up-arrow"></i>
                    Computer Sciences and Programming Technologies
                </p>
                <p class="eduTextSec">
                    <i class="bi bi-bank"></i>
                    Urgench State University
                </p>
                <p class="eduTextSec">
                    <i class="bi bi-geo-alt"></i>
                    Uzbekistan, Urgench city
                </p>
            </div>
        </div>
    </div>

</div>
{{>footer}}
{{>mediaNav}}