<div class="ring">
    <div class="loader1"></div>
    <div class="loader"></div>
</div>
{{> navbar}}
<div class="maxWidth project">
    <div class="empAll">


        <p class="textProjectSkills font-bold anim">
            EMPLOYMENT
        </p>
        <div class="flex items-center mb-20 anim">
            <div class="lineY-blogs">
            </div>
            <p class="text-base ml-2">current and former organizations</p>
        </div>
        <div class="eduBody">
            <div class="eduItems hiddenBottom">
                <div class="eduHeader">
                    <div class="eduLeft1">
                        <i class="bi bi-briefcase-fill"></i>
                    </div>
                    <div class="eduLineY">

                    </div>
                </div>
                <div class="eduTitles">
                    <div>
                        <p class="eduText">
                            Self Study
                        </p>
                        <p class="eduDate">
                            <i class="bi bi-calendar3"></i>
                            March, 2024 - Now
                        </p>
                    </div>
                    <p class="eduTextSec">
                        <i class="bi bi-graph-up-arrow"></i>
                        Express.js , Nest.js , React.js , Next.js
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-bank"></i>
                        At Home
                    </p>
                    <p class="eduTextSec">
                        <i class="bi bi-geo-alt"></i>
                        Uzbekistan, Urganch city
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
{{>mediaNav}}