{{> navbar}}
<div class="maxWidth project">
    <div class="project-all">
        <p class="textProject  anim">
            HTML & CSS & JS
        </p>
        <div class="projectSection aminFooter ">
            <div class="projectItems hiddenBottom">
                <img src="/img/binary.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://binary-calc-uz.netlify.app/" target="_blank" class="projectTitle">Binary calulator
                    -></a>
                <p class="my-2">This binary calculator converts any number of numbers into binary. And you can use it
                    absolutely free. Try it and improve your knowledge!</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/chellenge/tree/binary-calc" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>

            <div class="projectItems hiddenBottom">
                <img src="/img/qrGenerator.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://qr-generator-dev.netlify.app/" target="_blank" class="projectTitle">QR generator -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/chellenge/tree/qr-generator" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems hiddenBottom">
                <img src="/img/imgGenerator.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://i-gramm.netlify.app/" target="_blank" class="projectTitle">i-gram (Img generator)
                    -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/i-garm" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems hiddenBottom">
                <img src="/img/uzbCard.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://uzb-cards.netlify.app/" target="_blank" class="projectTitle">Uzbek card design -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/cards-js" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems hiddenBottom">
                <img src="/img/passGenerator.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://password-g-js.netlify.app/" target="_blank" class="projectTitle">Password generator
                    -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/Password-generator-JS" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems hiddenBottom">
                <img src="/img/register.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://fizika-register.netlify.app/" target="_blank" class="projectTitle">Register animation
                    design -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/Js-register" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems hiddenBottom">
                <img src="/img/quizApp.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://fizikaquiz.netlify.app/" target="_blank" class="projectTitle">Physics Quiz App
                    -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/quiz-app-js" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>
            <div class="projectItems hiddenBottom">
                <img src="/img/conApp.jpg" alt="project" class=" mx-auto projectImg">
                <a href="https://github.com/ortiqovdev/chellenge/tree/con-net" target="_blank"
                    class="projectTitle">Internet connect -></a>
                <p class="my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eaque minus id harum
                    pariatur
                    architecto quibusdam blanditiis incidunt saepe consequatur?</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <img src="/img/profileProject.jpg" alt="img" class="w-10 rounded-full mr-2">
                        <p class="project-text2">Akmal Ortiqov</p>
                    </div>
                    <a href="https://github.com/ortiqovdev/chellenge/tree/con-net" target="_blank"><i
                            class="bi bi-github  indexIcon"></i></a>
                </div>
            </div>

        </div>

        <div class="projectErr">
            <p>You need to access the computer to see all websites I created!</p><br>
            <a href="ortiqov.uz"> Pass by clicking...</a>
        </div>

        <div class="projectAll">
            <p class="textProject mx-auto">
                Backend & REST API
            </p>

            <div class="flex justify-evenly items-center w-full p-5 my-20">
                <div class="hiddenRight">
                    <dir class="projectBackImg">
                    </dir>
                </div>

                <div class="textBgCreate">
                    <div class="hiddenBottom backText ">

                        <p class="text-2xl projectTitleOne">
                            <Span class="projectTitleSpan">Kitobek</Span> - web app
                        </p>
                        <p class="w-96">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias odio
                            sapiente
                            non in
                            minima?
                            Exercitationem repellendus tempore ut quaerat, rem voluptates dolores ducimus cum, nisi
                            alias
                            atque laudantium consequatur voluptatibus. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Libero voluptas quasi labore sed! Velit cumque autem dolore corporis
                            hic,
                            nostrum in, deserunt voluptatem magnam nesciunt, ex et! Laborum, rerum quas?</p>
                    </div>
                </div>

            </div>

            <div class="flex justify-evenly items-center w-full p-5 my-20">

                <div class="textBgCreate">
                    <div class="hiddenBottom backText ">

                        <p class="text-2xl projectTitleOne">
                            <Span class="projectTitleSpan">Family Chat</Span> - web app
                        </p>
                        <p class="w-96">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias odio
                            sapiente
                            non in
                            minima?
                            Exercitationem repellendus tempore ut quaerat, rem voluptates dolores ducimus cum, nisi
                            alias
                            atque laudantium consequatur voluptatibus. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Libero voluptas quasi labore sed! Velit cumque autem dolore corporis
                            hic,
                            nostrum in, deserunt voluptatem magnam nesciunt, ex et! Laborum, rerum quas?</p>
                    </div>
                </div>

                <div class="hiddenLeft">
                    <dir class="projectBackImg1">
                    </dir>
                </div>


            </div>

            <div class="flex justify-evenly items-center w-full p-5 my-20">
                <div class="hiddenRight">
                    <dir class="projectBackImg2">
                    </dir>
                </div>

                <div class="textBgCreate">
                    <div class="hiddenBottom backText ">

                        <p class="text-2xl projectTitleOne">
                            <Span class="projectTitleSpan">Lexi Joy</Span> - web site
                        </p>
                        <p class="w-96">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias odio
                            sapiente
                            non in
                            minima?
                            Exercitationem repellendus tempore ut quaerat, rem voluptates dolores ducimus cum, nisi
                            alias
                            atque laudantium consequatur voluptatibus. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Libero voluptas quasi labore sed! Velit cumque autem dolore corporis
                            hic,
                            nostrum in, deserunt voluptatem magnam nesciunt, ex et! Laborum, rerum quas?</p>
                    </div>
                </div>

            </div>

            <div class="flex justify-evenly items-center w-full p-5 my-20">

                <div class="textBgCreate">
                    <div class="hiddenBottom backText ">

                        <p class="text-2xl projectTitleOne">
                            <Span class="projectTitleSpan">Mind up</Span> - web app
                        </p>
                        <p class="w-96">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias odio
                            sapiente
                            non in
                            minima?
                            Exercitationem repellendus tempore ut quaerat, rem voluptates dolores ducimus cum, nisi
                            alias
                            atque laudantium consequatur voluptatibus. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Libero voluptas quasi labore sed! Velit cumque autem dolore corporis
                            hic,
                            nostrum in, deserunt voluptatem magnam nesciunt, ex et! Laborum, rerum quas?</p>
                    </div>
                </div>

                <div class="hiddenLeft">
                    <dir class="projectBackImg3">
                    </dir>
                </div>


            </div>

            <div class="flex justify-evenly items-center w-full p-5 my-20">
                <div class="hiddenRight">
                    <dir class="projectBackImg4">
                    </dir>
                </div>

                <div class="textBgCreate">
                    <div class="hiddenBottom backText ">

                        <p class="text-2xl projectTitleOne">
                            <Span class="projectTitleSpan">Ortioqv Portfolio</Span> - web site
                        </p>
                        <p class="w-96">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias odio
                            sapiente
                            non in
                            minima?
                            Exercitationem repellendus tempore ut quaerat, rem voluptates dolores ducimus cum, nisi
                            alias
                            atque laudantium consequatur voluptatibus. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Libero voluptas quasi labore sed! Velit cumque autem dolore corporis
                            hic,
                            nostrum in, deserunt voluptatem magnam nesciunt, ex et! Laborum, rerum quas?</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{> footer}}
{{>mediaNav}}