{{> navbar}}

<div class="maxWidth mx-auto px-32 py-5 pt-32 overflow-hidden">
    <div class="">
        <p class="textProjectSkills font-bold  anim">
            SKILLS
        </p>
        <div class="flex items-center mb-9 anim">
            <div class="lineY-skills">

            </div>
            <p class="text-base">list of skills</p>
        </div>

        <div class="flex flex-col">
            <div class="flex flex-col hiddenBottom">
                <div class="flex items-center my-5 ">
                    <img src="/icon/coding.png" alt="coding" width="35">
                    <p class="ml-2 text-2xl text-white">Programming Languages</p>
                </div>
                <div class="flex ">
                    <div class=" skillsBox ">
                        <img src="/icon/js.png" alt="js-icon" class="skills-icons">
                        <p class="skillsText">JavaScript</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/ts.png" alt="js-icon">
                        <p class="skillsText">TypeScript</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/csh.png" alt="js-icon">
                        <p class="skillsText">C#</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col hiddenBottom">
                <div class="flex items-center my-5 ">
                    <img src="/icon/fremwork.png" alt="coding" width="35">
                    <p class="ml-2 text-2xl text-white">Frameworks</p>
                </div>
                <div class="flex ">
                    <div class=" skillsBox ">
                        <img src="/icon/ex.png" alt="js-icon" class="skills-icons">
                        <p class="skillsText">Express.js</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/nestjs.svg" alt="js-icon">
                        <p class="skillsText">Nest.js</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/soket.png" alt="js-icon">
                        <p class="skillsText">Soket.io</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/react.png" alt="js-icon">
                        <p class="skillsText">React.js</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/svelte.svg" width="85" alt="js-icon">
                        <p class="skillsText">Svelte</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/nextjs.svg"  alt="js-icon">
                        <p class="skillsText">Next.js</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/wpf.png" alt="js-icon">
                        <p class="skillsText">WPF</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/wind.jpg" alt="js-icon">
                        <p class="skillsText mt-3">WindForm</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col hiddenBottom">
                <div class="flex items-center my-5 ">
                    <img src="/icon/cloud.svg" alt="coding" width="35">
                    <p class="ml-2 text-2xl text-white">Database</p>
                </div>
                <div class="flex ">
                    <div class=" skillsBox ">
                        <img src="/icon/mongo.svg" alt="js-icon" class="skills-icons">
                        <p class="skillsText">MongoDB</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/postgresql.png" alt="js-icon">
                        <p class="skillsText">PostgreSQL</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/sqlite.png" alt="js-icon">
                        <p class="skillsText">SQLite</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/prisma.svg" alt="js-icon">
                        <p class="skillsText">Prisma</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/mysql.png" alt="js-icon">
                        <p class="skillsText">MySQL</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/redis.svg" alt="js-icon">
                        <p class="skillsText">Redis</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col hiddenBottom">
                <div class="flex items-center my-5 ">
                    <img src="/icon/app.svg" alt="coding" width="35">
                    <p class="ml-2 text-2xl text-white">Applications</p>
                </div>
                <div class="flex ">
                    <div class=" skillsBox ">
                        <img src="/icon/js.png" alt="js-icon" class="skills-icons">
                        <p class="skillsText">MongoDB</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/ts.png" alt="js-icon">
                        <p class="skillsText">Postgres</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/csh.png" alt="js-icon">
                        <p class="skillsText">Sqlite</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/csh.png" alt="js-icon">
                        <p class="skillsText">Sqlite</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col hiddenBottom">
                <div class="flex items-center my-5 ">
                    <img src="/icon/tools.svg" alt="coding" width="35">
                    <p class="ml-2 text-2xl text-white">Others</p>
                </div>
                <div class="flex ">
                    <div class=" skillsBox ">
                        <img src="/icon/js.png" alt="js-icon" class="skills-icons">
                        <p class="skillsText">MongoDB</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/ts.png" alt="js-icon">
                        <p class="skillsText">Postgres</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/csh.png" alt="js-icon">
                        <p class="skillsText">Sqlite</p>
                    </div>
                    <div class="skillsBox ">
                        <img src="/icon/csh.png" alt="js-icon">
                        <p class="skillsText">Sqlite</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    {{>footer}}